//script(src='/js/angular/angular.js')

script(src='/js/ie8/html5shiv.js')
script(src='../js/jquery/jquery-1.12.4.js')
// Bootstrap core CSS
//link(href='../css/bootstrap/bootstrap.css', rel='stylesheet')
