doctype html
html(xmlns="http://www.w3.org/1999/xhtml", lang="ko", xml:lang="ko")
    head              
        title K-Pigeon             
        script(src='/js/jquery/jquery-1.12.4.js')

        link(href='/css/views/base.css', rel='stylesheet')
    body
        .jd_header
            label(for="toggle" oncheck) MENU
            input(type="checkbox" id="toggle")

            ul.nav
                li
                    a Home
                li
                    a Guest
                li
                    a Notice
            
        .content 본문
        .footer    
            


