doctype html
html(lang='en')
    head
        meta(charset='utf-8')       
        meta(http-equiv='X-UA-Compatible', content='IE=edge')        
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

        title K-Pigeon
        include /common/header

        // Custom styles for this template
        //link(href='../css/navbar.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        script(src="/js/views/main.js")


                    
    body        
        div.head
            div.container.logo
                div.inner K-Pigeon
            div.container.transport
                div.inner Transport
                div.submenu
                div.submenu
                div.submenu    
                              
            div.container.seesight
                div.inner Seesight
            div.container.culture
                div.inner Culture
            div.container.accommodation
                div.inner Accommodation   

        div.body

        include /common/footer
