doctype html
html(lang='en')
    head
        meta(charset='utf-8')       
        meta(http-equiv='X-UA-Compatible', content='IE=edge')        
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
       
        title K-Pigeon        
        include /common/header 

        link(href='/css/style.css', rel='stylesheet')
        script(src='/js/views/main.js')       
    
    body
        nav.navbar.navbar-inverse
            .container-fluid                
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation                             
                        span.icon-bar                     
                        span.icon-bar                        
                        span.icon-bar                 
                    a.navbar-brand(href='#') K-Pigeon

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle.travel(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Travel 
                                span.caret                                       
                            ul.dropdown-menu  
                                li
                                    a(href='#') Action                            
                        li.dropdown
                            a.dropdown-toggle.seesight(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Seesight 
                                span.caret                                       
                            ul.dropdown-menu
                                li
                                    a(href='#') Action                              
                        li.dropdown
                            a.dropdown-toggle.culture(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Culture
                                span.caret                                       
                            ul.dropdown-menu
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider(role='separator')
                                li
                                    a(href='#') Separated link
                                li.divider(role='separator')
                                li
                                    a(href='#') One more separated link                    
                    //form.navbar-form.navbar-left
                        .form-group
                            input.form-control(type='text', placeholder='Search')                                
                        button.btn.btn-default(type='submit') Submit
                       
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Link
                        li.dropdown
                            a.lang-body.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') language 
                                span.caret                            
                            ul.dropdown-menu
                                li                                    
                                    a.lang(href='#' style='display:inline-block;') 
                                        span Korean
                                        img(src='/img/heart_spot_small_on.png',style="width:30px;")
                                li                                  
                                    a.lang(href='#' style='display:inline-block;') 
                                        span English
                                        img(src='/img/heart_spot_small_on.png',style="width:30px;")
                                li                                    
                                    a.lang(href='#' style='display:inline-block;') 
                                        span Chinese
                                        img(src='/img/heart_spot_small_on.png',style="width:30px;")
                                li
                                    a.lang(href='#' style='display:inline-block;') 
                                        span Japanese
                                        img(src='/img/heart_spot_small_on.png',style="width:30px;")
        .container-fluid.main
            .row
                .col-sm-5.col-md-5.col-sm-offset-_5.col-md-offset-_5.korea-map                     
                    img.img-responsive(src='/img/koreamap_gray2.png', width='649' alt='Generic placeholder thumbnail')
                    img.city-spot.seoul(src='/img/heart_spot_small.png')     
                    div(style="width:200px;height:100px;background-color:yellow;")               

                .col-sm-5.col-md-5.city-main-board
                    h1 Seoul
                                        
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Seoul Tower
                        img.img-responsive(src='/img/s_seoulTower.png', width='200', height='200', alt='Seoul_Tower')
                        span.text-muted Roof of Seoul. Beatifule Views.
                     
                    .col-xs-4.col-sm-4.col-sm-4.placeholder.overtext
                        h4 Cheonggye Cheon 
                        img.img-responsive(src='/img/s_cheonggyecheon.png', width='200', height='200', alt='Cheonggye_Cheon')
                        span.text-muted Removed the roads built on the riverside and established a new space                        
                       
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else
                    .row.placeholder    
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else
                      
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else
                   
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else
                    .row.placeholder    
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else
                    
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else
                   
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else
                    .row.placeholder    
                    .col-xs-4.col-sm-4.col-sm-4.placeholder
                        h4 Label                            
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        span.text-muted Something else  
                           


        include /common/footer
