script(src='/js/jquery/jquery-1.12.4.js')

//Custom
link(href='/css/style.css', rel='stylesheet')
script(src='/js/views/main.js')


//if lt IE 9
    script(src='/js/ie8/html5shiv.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
